{{> head}}
<body>
    {{> navbar }}
    <div class="row">
        <div class="column-8">
            <h1>Acerca de</h1>
        </div>
        <div class="column-4">
            <img width="600px" src="assets/img/node.png" alt="Node js">
        </div>
    </div>
    {{> footer}}
</body>
{{> scripting}}
</html>